button:focus {
  outline: none !important;
}

/* container aside */
.container.default {
  position: relative;
  z-index: 1;
  display: flex;
  width: 30%;
  flex-direction: column;
  background: #1e213a;
}
@media screen and (min-width: 1800px) and (max-width: 5000px) {
  .container.default {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .container.default {
    width: 40%;
  }
}
@media screen and (max-width: 960px) {
  .container.default {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .container.default {
    width: 50%;
  }
}
.app-default {
  position: relative;
  height: 100%;
  background: #1e213ae5;
}
.img-bg {
  position: absolute;
  z-index: -1;
  width: 150%;
  height: auto;
  top: 7.5%;
  left: -25%;
  object-fit: cover;
}

/* navigation */
.nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2rem;
}
@media screen and (min-width: 1800px) and (max-width: 5000px) {
  .nav {
    padding: 0px 20%;
  }
}
.search-button button {
  padding: 10px 18px;
  font-size: 1rem;
  font-weight: 500;
  color: #e7e7eb;
  background: #6e707a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
.coordinate-icon {
  border: none;
  border-radius: 50%;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.coordinate-icon i {
  color: #e7e7eb;
}

/* style weather info */
.weather-today {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1800px) and (max-width: 5000px) {
  .weather-today {
    margin: auto;
  }
}
.image-weather {
  margin: 2.5rem 0px;
  display: flex;
}
.image-weather img {
  width: 11rem;
  margin: auto;
}
.text-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-weather h1 {
  font-size: 8rem;
  font-weight: 500;
  color: #e7e7eb;
  margin: 0px auto;
}
.text-weather h1 span {
  font-size: 2.5rem;
  font-weight: 100;
  color: #a09fb1;
  margin: 0px auto;
}
.text-weather h2 {
  font-size: 2rem;
  color: #a09fb1;
  margin: 1.5rem auto;
}
.text-date {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}
.text-date .date {
  margin: 0.5rem 0px 0.65rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #88869d;
}
.text-date .location {
  margin: 0.65rem 0px 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
  color: #88869d;
}
.text-date .location i {
  margin-right: 0.5rem;
}

/* mobile device */
@media screen and (max-width: 540px) {
  .container.default {
    width: 100%;
    overflow-x: hidden;
  }
  .nav {
    padding: 0px 1rem;
  }
  .text-date {
    margin-bottom: 5.5rem;
  }
}

@media screen and (max-width: 425px) {
  .img-bg {
    top: 12.5%;
  }
}
