.card-weather {
  flex: 1 1 0px;
  max-width: 146px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  background: #1e213a;
}
/* .card-weather:nth-last-of-type(1) {
  margin-right: 0px;
} */
.card-weather .weather-image {
  width: 3.5rem;
  margin: 0px 0px 2.5rem;
}
.card-weather .date {
  font-size: 1rem;
  font-weight: 500;
  color: #e7e7eb;
  margin: 0px 0px 0.75rem;
}
.card-weather .degree span {
  font-size: 1rem;
  font-weight: 500;
  color: #e7e7eb;
}
.card-weather .degree span:nth-of-type(1) {
  margin-right: 1.5rem;
}

/* mobile device */
@media screen and (max-width: 375px) {
  .card-weather {
    max-width: 140px;
  }
}

@media screen and (max-width: 325px) {
  .card-weather {
    max-width: unset;
  }
}
