.card-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  background: #1e213a;
}
.card-weather .weather-image {
  width: 3.5rem;
  margin: 0px 0px 2.5rem;
}
.card-weather .date {
  font-size: 1rem;
  font-weight: 500;
  color: #e7e7eb;
  margin: 0px 0px 0.75rem;
}
.card-weather .degree span {
  font-size: 1rem;
  font-weight: 500;
  color: #e7e7eb;
}
.card-weather .degree span:nth-of-type(1) {
  margin-right: 1.5rem;
}
