@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@100;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}
button,
i {
  cursor: pointer;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.container.main {
  background: #100e1d;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* footer styling */
.App-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.copyright {
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #a09fb1;
}
.copyright a {
  color: #a09fb1;
  text-decoration: none;
}
