@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@100;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

.lg-cl {
  color: #e7e7eb;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.container.default {
  position: relative;
  z-index: 1;
  flex-grow: 0.3;
  display: flex;
  flex-direction: column;
  background: #1e213a;
}
.app-default {
  position: relative;
  height: 100%;
  background: #1e213ae5;
}
.img-bg {
  position: absolute;
  z-index: -1;
  width: 150%;
  top: 10%;
  left: -25%;
  object-fit: cover;
  height: auto;
}
.nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2.8rem;
}
.search-button button {
  padding: 10px 18px;
  font-size: 1rem;
  font-weight: 500;
  background: #6e707a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
.coordinate-icon {
  border-radius: 50%;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container.main {
  background: #100e1d;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* footer styling */
.App-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.copyright {
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #a09fb1;
}
.copyright a {
  color: #a09fb1;
  text-decoration: none;
}
