/* modal search */
.modal-search {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px 2rem;
  background: #1e213a;
  animation-duration: 1s;
  animation-name: slideIn;
}

@keyframes slideIn {
  0% {
    right: 100%;
    opacity: 0;
  }
  100% {
    right: 0%;
    opacity: 1;
  }
}
.clear {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.clear i {
  font-size: 2rem;
  color: #e7e7eb;
}
form {
  width: 100%;
  height: auto;
  display: flex;
  margin: 1rem 0px;
}
.input-control {
  flex-grow: 0.7;
  position: relative;
  margin-right: 0.75rem;
}
.input-control i {
  position: absolute;
  color: #616475;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.input-control input {
  width: 100%;
  color: #e7e7eb;
  background: none;
  font-size: 1rem;
  padding: 15px 15px 15px 50px;
  border: 1.5px solid #e7e7eb;
}
.input-control input::placeholder {
  color: #616475;
}
.input-control input:focus {
  outline: none !important;
  border-color: #f2f2f2;
}
.search-submit {
  padding: 15px;
  flex-grow: 0.3;
  color: #e7e7eb;
  font-size: 1rem;
  font-weight: 600;
  border: 1.5px solid #3c47e9;
  background: #3c47e9;
  cursor: pointer;
}
.search-submit:focus {
  outline: none !important;
  border-color: #616475;
}

.result-search {
  margin: 1.5rem 0px;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.result-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 22px 15px;
  border: 1.5px solid #1e213a;
  background: none;
  margin-bottom: 0.25rem;
}
.result-button span,
.result-not-found span {
  font-weight: 500;
  font-size: 1rem;
  color: #e7e7eb;
}
.result-button i {
  font-size: 1.25rem;
  color: #1e213a;
}

.result-button:hover {
  border-color: #616475;
}
.result-button:hover i {
  color: #616475;
}

.result-not-found {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 22px 15px;
  background: none;
}
