/* main container */
.container.main {
  background: #100e1d;
  position: relative;
  z-index: 1;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0px 5% 0px 7.5%;
}

@media screen and (min-width: 1800px) and (max-width: 5000px) {
  .container.main {
    width: 50%;
    padding: 0px 10% 0px 5%;
  }
}
@media screen and (max-width: 1024px) {
  .container.main {
    width: 60%;
    padding: 0px 3.5%;
  }
}
@media screen and (max-width: 960px) {
  .container.main {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .container.main {
    width: 50%;
  }
}

/* main navigation */
.nav.main {
  width: 100%;
  height: 100px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.button-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.75rem;
  border-radius: 50%;
  padding: 9px 10px;
  border: none;
  font-size: 1.125rem;
  font-weight: 700;
  color: #e7e7eb;
  background: #585676;
}
.button-temp:nth-of-type(2) {
  padding: 9px 12px;
}

/* container card weather */
.cards-weekly {
  width: 100%;
  height: auto;
  margin: 2rem 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem 1.5rem !important;
}

/* mobile device */
@media screen and (max-width: 540px) {
  .container.main {
    width: 100%;
    padding: 0px 5%;
  }
}

@media screen and (max-width: 425px) {
  .cards-weekly {
    padding: 0px 5%;
  }
}

@media screen and (max-width: 375px) {
  .cards-weekly {
    padding: 0px;
  }
}
