/* footer styling */
.App-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.copyright {
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #a09fb1;
}
.copyright a {
  color: #a09fb1;
  text-decoration: none;
}
