@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@100;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

/* Footer styling */
.App-footer {
  display: flex;
  flex-direction: column;
}
.copyright {
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #f2f2f2;
}
.copyright a {
  color: #f2f2f2;
  text-decoration: none;
}
